<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Bootstrep -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Library</title>
    {% block header %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('sync')}}">Library</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="{% block home %}{% endblock %}"><a href="{{ url_for('home') }}">Read</a></li>
          <li class="{% block update_page %}{% endblock %}"><a href="{{ url_for('update_page') }}">Update Papers</a></li>
          <li class="{% block dependency %}{% endblock %}"><a href="{{ url_for('dependency') }}">Dependencies</a></li>
          <li class="{% block todo %}{% endblock %}"><a href="{{url_for('todo')}}">TODO</a></li>
          <li class="{% block not_ready %}{% endblock %}"><a href="#">Not yet read</a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>