<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static',filename='js/home.js') }}"></script>
    <link href="{{ url_for('static',filename='styles/home.css') }}" type="text/css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Library</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=""><a href="{{ url_for('open_article_folder') }}">Directory</a></li>
        </ul>
      </div>
    </nav>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Projects</h2></div>
            <div class="panel-body full_y">
                <ul>
                    {%for project in projects%}
                        <a href="{{url_for("project", project_name=project)}}"><li class="item">{{project}}</li></a>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default tight">
            <div class="panel-heading"><h2>Add Project</h2></div>
            <div class="panel-body">
                <form action="{{url_for("add_project")}}" method="post" onsubmit="add_check(event)">
                    <input type="text" class="line" placeholder="Project name" name="project_name">
                    <input type="submit" class="line" value="Create project">
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default tight">
            <div class="panel-heading"><h2>Remove Project</h2></div>
            <div class="panel-body">
                <form action="{{url_for("remove_project")}}" method="post" onsubmit="rm_check(event)">
                    <input type="text" class="line" placeholder="Project name" name="project_name">
                    <input type="checkbox" name="remove">
                    <label for="remove">This can not be undone</label>
                    <input type="submit" class="line" value="Remove project">
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default tight">
            <div class="panel-heading"><h2>Rename Project</h2></div>
            <div class="panel-body">
                <form action="{{url_for("rename_project")}}" method="post" onsubmit="rn_check(event)">
                    <select name="project_name_old" class="line">
                        {% for project in projects %}
                            <option>{{ project }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" class="line" placeholder="Project name (new)" name="project_name_new">
                    <input type="submit" class="line" value="Rename project">
                </form>
            </div>
        </div>
    </div>
</body>
</html>