{% extends "base.html" %}



{% block project %}
    {% if project_home%}
        active
    {% endif %}
{% endblock %}

{% block update_page %}
    {% if not project_home%}
        active
    {% endif %}
{% endblock %}

{% block header %}
    <script src="{{ url_for('static',filename='js/project.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <!-- Panel for project tree -->
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Connected</h2></div>
                <div class="panel-body full_y"  id="main_wrapper">
                    <img>
                        {{main_graph|safe}}
                    </img>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <!-- Panel for solo articles -->
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Unconnected</h2></div>
                <div class="panel-body full_y" id="solo_wrapper">
                    <img>
                        {{solo_graph|safe}}
                    </img>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
