/*Taken from https://www.w3schools.com/howto/howto_js_todolist.asp and changed*/

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

.textbox {
  width: 100%;
}

.button {
  width: 100%;
  margin-top: 10px;
}

.kill {
  background: red;
  color: white;
}